body{
	
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	

}
.heading{
	color: black;
	text-align: center;
	font-size: 3em;
	padding:1%;
	text-shadow: 3px 2px #6495ED;
	}

.bar{

	margin-top: 2%;
	background-color: #6495ED;
	color: white;
	font-size: 25px;
	padding: 1%;
	text-align: center;
	text-shadow: 1px 1px black;

	}
.book{
	margin-top: 2%;
	max-width: 230px;
	margin-right: 2%;
	margin-bottom: 3%;
	/*transition: all 0.5s ;*/
	
	
}

.bookpic{
	height: 280px;
	width: 213px;
}
.desc{
	text-align: center;
	
}

.book:hover{
	transform: scale(1.1);
}
.addto{
	padding: 2px;
	background-color:#6495ED;
	color:white; 
	font-size: 1.2em;
}

.container{
	 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav li a:hover {
  background-color: #6495ED;
}

table{
	margin:5%;
	margin-top: 0%;
	width:90%;
	text-align: center;
}
th{
	background-color: black;
	padding:15px;
	font-size: 1.5em;
	color:white;
}

td{
	padding: 10px;
	background-color: #6495ED;
	border-bottom: 2px solid black;
	color:red;
}

td a{
	text-decoration: none;
	color:white;
	font-size: 1.2em;

}
td a:hover{
	background-color: white;
	color:black;
}


.fp{
	padding: 200px 50px 200px 300px;
	background-image: url("img/foot.PNG");
	text-align: center;
}
.form{
	width:70%;
	padding-top:90px;
	border: 5px solid #6495ED;
	height: 200px;
	background-color: white;
}

label{
	margin-left: 70px;
	font-size: 1.2em;
}
input{
	margin-left: 30px;
	border:0px;
	border-bottom: 2px solid black;
	min-height: 25px;
}

.submit{
	height:40px;
	background-color: black;
	color:white;
	width:70px;
	font-size: 1.3em;
	border-radius: 2px;
}
footer{
	padding-top: 2%;
	text-align: center;
	width: 100%;
	padding-bottom: 1%;
	color: white;
	background-color: black;
	font-size: 0.9em;
}
.marquee{
	background-color: tomato;
	color:white;
}
.cart{
	text-align: center;
}